*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif
}

body{
  background-color: #222;
  color:#ccd2d7;
  padding-top: 5rem;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.home-page span{
  color:#857047 ;
  cursor: pointer;
}
/* .active{
  color: #857047;
}
.pending{
  color: #140e08;
} */
/* style for the loader */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #857047;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  position: absolute;
    left: 50%;
    top: 50%;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-bottom-color: #857047;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* style for the main page */
.card-repo{
  max-width: 38rem;
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 4px solid #857047;
  border-radius: 1.5rem;
}
.header-repo{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 0.75rem;
}
.github-icon{
 width: 2rem; 
 height: 100%;
}
.github-name{
  text-align: center;
  font-size: 1.10rem;
}
.element-repo{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  
}
.repo-name{
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-align: center;
  margin-left: 0.25rem;
}
.btn-repo{
  max-width: 18rem;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #334c5d;
  color: #e5e9eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-repo a{
  text-decoration: none;
  color: #e5e9eb;

}
.btn-repo:hover{
  background-color: #667986;
  color:#e5e9eb ;
   
}

.btn-repo:active{
background-color: #667986;
  box-shadow: 0 5px #99a5ae;
  transform: translateY(4px);
}

.btn-repo a:hover{
  background-color: #667986;
    color: #e5e9eb;
    opacity: 0.8;
}
.btn-repo a:active {
  transition: opacity 0.15s;
}

/* style for the about repo page */
.about-repo-wrapper{
  line-height: 2;
}
/* style for the error testing page */
.error-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

}
.error-page p{
  font-size: 1.5rem;
  line-height: 2;
}
.error-page a, .home-page-link{
  text-decoration: none;
  color: #857047;
}
/* style for error testing button */
.repo-btns{
  display: flex;
  justify-items: center;
 margin-left: 8rem;
  gap: 4rem;
}

@media (max-width: 400px){
  .card-repo {
      max-width: 18.75rem;
      width: 100%;
    }
    .repo-btns{
      margin-left: 1rem;
      gap: 1rem;
    }
  .btn-repo{
    max-width: 6rem;
      width: 100%;
      padding: 0.4rem;
    font-size: 0.7rem;
  }
    .error-page{
    
      margin: 0 auto;
      text-align: center;
      margin-top: 5rem;
    }
  
.repo-live a{
  text-wrap: nowrap;
}
.error-testin a{
max-width: 6rem;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.7rem;
}
.github-name{
  font-size: 0.85rem;
  text-align: center;
}
.element-repo{
margin-right: 2rem;
}
}